/* ==========================================================================
   Most popular list
   ========================================================================== */
.c-most-popular-list {
    @include helper--list;
    display: grid;
    margin-top: -100px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.c-most-popular-list__item--five {
    grid-column: span 2;
}
.c-most-popular-list__item--six {
    grid-column: span 2;
    grid-row: span 3;
}
.c-most-popular-list__item--seven {
    grid-column: span 2;
}
.c-most-popular-list__item--ten {
    grid-row: span 2;
}
.c-most-popular-list__item--eleven {
    grid-column: span 2;
}
.c-most-popular-list__item--twelve {
    grid-column: span 2;
}
.c-most-popular-list__item--thirteen {
    grid-row: span 2;
}
@include media('<=tablet') {
    .c-most-popular-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@include media('<=phone') {
    .c-most-popular-list {
        grid-template-columns: repeat(2, 1fr);
    }
}